<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>450381848355-f0q0ik3ohnd6bhm76ap6d9mvgi7bjtdt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.450381848355-f0q0ik3ohnd6bhm76ap6d9mvgi7bjtdt</string>
	<key>API_KEY</key>
	<string>AIzaSyCpw61GdEFb6e1PYnA5gAMHHBrHTx_3IS0</string>
	<key>GCM_SENDER_ID</key>
	<string>450381848355</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.andrewbiggs.mobile</string>
	<key>PROJECT_ID</key>
	<string>andrew-biggs-academy</string>
	<key>STORAGE_BUCKET</key>
	<string>andrew-biggs-academy.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:450381848355:ios:ed7d9aeeecb61c0f</string>
	<key>DATABASE_URL</key>
	<string>https://andrew-biggs-academy.firebaseio.com</string>
</dict>
</plist>